.home {
  height: 100vh;
}

.view {
  min-height: 92vh;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.397);
}

.icon-white {
  color: white;
}

.icon-white:hover {
  color: rgb(231, 231, 231);
}

.content-card {
  min-width: 88px;
  min-height: 117px;
}

.card-flip {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  /* line-height: 260px; */
  text-align: center;
  backface-visibility: hidden;
}

.card-face-front {
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.game-over {
  max-height: 200px;
}